{% extends "base.html" %} <!-- Herencia -->
{% load static %} <!-- Carga de archivos estáticos -->

{% block styles %}<link rel="stylesheet" href="{% static 'styles/lista_productos.css' %}">{% endblock styles %}

{% block content %} <!-- Colocar cosas dentro de HTML -->
<!-- <section class="top-bar">
    Para luego agregar una barra de búsqueda de productos.
</section> -->

<section class="products-container">
    {% include "components/product-card.html" %}
</section>

{% endblock content %} <!-- Hay que cerrar el bloque, si hay varios hay que especificar cuál se está cerrando -->
