{% extends "base.html" %} <!-- Herencia -->
{% load static %} <!-- Carga de archivos estáticos -->

{% block styles %}<link rel="stylesheet" href="{% static 'styles/quienes_somos.css' %}">{% endblock styles %}

{% block content %} <!-- Colocar cosas dentro de HTML -->

<section class="introduction">
    <div class="introduction-decoration"></div>
    <div class="introduction-container">
        <div class="introduction__content">
            <img src="{% static 'images/logo/logo-transparente.png' %}" alt="Logo completo de CLAN-F" class="about__logo_clan-f">  
        </div>
    </div>
</section>

<section class="somos-nosotros">
    <h1 class="nos">Nosotros</h1>
    <!-- ============================================= -->
    <!-- Misión y Visión -->
    <!-- ============================================= -->
    <div id="mi-vi">
        <div id="mision">
            <img src=" {% static 'images/moderna-creacion-adan.png' %}" alt="Mano artificial y mano humana">
            <h3 class="mision">Misión:</h3>
            <p>Nuestra misión en <strong>CLAN-F</strong> es impulsar la innovación y la transformación digital a través de soluciones de inteligencia artificial de vanguardia. Trabajamos incansablemente para brindar tecnologías avanzadas que mejoren la eficiencia, la toma de decisiones y la calidad de vida de los hogares en Argentina. Nos esforzamos por ser líderes en el desarrollo de soluciones AI, éticas y responsables que beneficien a la sociedad.</p>
        </div>
        <div id="vision">
            <img src="{% static 'images/robot-humano.png' %}" alt="Manos Robóticas">
            <h3 class="vision">Visión:</h3>
            <p >Nuestra visión en <strong>CLAN-F</strong> es ser la empresa lider en el campo de la AI, reconocida por nuestro compromiso con la excelencia, la ética y la sostenibilidad. Nos esforzamos por crear un futuro en el que la IA potencie la creatividad humana, resuelva los desafíos más complejos y promueva un mundo más equitativo. Trabajamos para construir un ecosistema AI colaborativo y diverso que inspire la innovación y el progreso continuo.</p>
        </div>
    </div>

    <div id="historia" class="container">
            <h1>Historia del Proyecto "CLAN-F"</h1>
            <img class="story-image" src="{% static 'images/historia_clan-f.png' %}" alt="Imagen del equipo CLAN-F">
            <p>Hace algunos meses en Argentina, un grupo de cuatro amigos se unieron con un sueño común: emprender un proyecto que los identificara y llevara por un emocionante camino de innovación. Este equipo estaba conformado por Carina, Luimer, Alberto y Nacho (Ignacio).</p>

            <p>La historia de su proyecto comenzó con un proceso bastante singular para decidir el nombre del equipo y el proyecto en sí. Todos tenían diferentes ideas, y decidieron que la elección del proyecto sería una tarea democrática. Cada uno propuso dos proyectos, y luego, entre risas y discusiones, comenzaron a calificarlos del 1 al 5 según lo que más les gustara.</p>

            <p>Después de sumar los puntos, se encontraron en una situación inesperada: dos proyectos habían empatado en el primer lugar. Esto generó un dilema, y justo en ese momento, un nuevo compañero, Francisco, se unió al grupo, quien con su voto, deshizo el empate entre los dos proyectos.</p>

            <p>Ahora bien, para la elección del nombre del proyecto; Alberto observó en la tarjeta donde tenía anotadas las votaciones, que con las iniciales de los cuatro integrantes se formaba el acrónimo <strong>"CLAN"</strong> y propuso este nombre, el cual fue aceptado por sus compañeros; y además, con la llegada de Francisco al grupo, decidieron que el proyecto se llamaría <strong>"CLAN-F"</strong> para incorporar su inicial y como un gesto de bienvenida, sosteniendo la disposición del Proyecto a la integración y regocijo de quienes contribuyan al crecimiento y fortalecimiento del mismo, así como la libertad a quienes deseen seguir cumpliendo sus metas o propuestas diferentes a la misión y visión de este Proyecto.</p>

            <p>Finalmente, el proyecto ganador que llevó el nombre <strong>"CLAN-F"</strong> resultó ser el de Carina, acerca de productos con IA, marcándose así el inicio de una emocionante travesía llena de creatividad, desafíos y colaboración. Esta historia inspiradora demostró que a menudo, las soluciones más ingeniosas surgen de la unión de personas con diferentes antecedentes y perspectivas, y que la casualidad puede desempeñar un papel fundamental en el nacimiento de un proyecto exitoso.</p>
    </div>
</section>

<section class="cada-uno">
    <div class="person-cards">
        <div class="person-card">
            <div class="person-card__img-container">
                <img src="{% static 'images/carina_payleman.jpg' %}" alt="Carina Payleman">
            </div>
            <h2 class="person-name"><span class="highlight">C</span>arina Payleman</h2>
            <ul class="social-icons">
                <li class="list-group-item"><a href="https://github.com/PaylemanC" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/carina-rocio-payleman/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
            <p class="ocupacion">FullStack Developer Jr.</p>
            <p class="slogan">"Esta vez sí compila"</p>
            <p class="hobbies"><em>Hobbies:</em> Mi pasión es aprender y mi vocación es enseñar; Amo el desarrollo Front-End, hacer y buscar diseños UX/UI; Prácticas de diseño y accesibilidad para Web; Desafíos de código al estilo HackerRank o 30 días de X lenguaje.</p>
            <p class="soft-skills"><em>Habilidades Blandas:</em> Autodidacta, Trabajo en Equipo, Creatividad, Capacidad Analítica, Facilidad de Aprendizaje.</p>
        </div>
        <div class="person-card">
            <div class="person-card__img-container">
                <img src="{% static 'images/Yeimer_Márquez.jpg' %}" alt="Yeimer Alberto Márquez">
            </div>
            <h2 class="person-name"><span class="highlight">A</span>lberto Márquez</h2>
            <ul class="social-icons">
                <li class="list-group-item"><a href="https://github.com/YeiAlb/" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/yeimer-alberto-marquez-rojas-5a9568134//" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
            <p class="ocupacion">FullStack Developer Jr.</p>
            <p class="slogan">"Carpe Diem - Kadyma"</p>
            <p class="hobbies"><em>Hobbies:</em> Amo el Fútbol; Me encanta leer; Disfruto viajar y pasar tiempo con mi Familia y Amigos; Me encanta aprender continuamente.</p>
            <p class="soft-skills"><em>Habilidades Blandas:</em> Leal, Amigable, Empático, Comunicativo, Analítico, Inteligente emocionalmente, Resiliente.</p>
        </div>
        <div class="person-card">
            <div class="person-card__img-container">
                <img src=" {% static 'images/Francisco_Zani.jpg' %}" alt="Francisco Zani">
            </div>
            <h2 class="person-name"><span class="highlight">F</span>rancisco Javier Zani</h2>
            <ul class="social-icons">
                <li class="list-group-item"><a href="https://github.com/Franjazani" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                <li class="list-group-item"><a href="https://www.linkedin.com/in/francisco-zani/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
            </ul>
            <p class="ocupacion">Martillero Público, Wine Maker, FullStack Developer Jr.</p>
            <p class="slogan">"Al servicio del crecimiento y desarrollo".</p>
            <p class="hobbies"><em>Hobbies:</em> Tennis.</p>
            <p class="soft-skills"><em>Habilidades Blandas:</em> Servicio, Responsabilidad, Puntualidad.</p>
        </div>
    </div>
</section>

{% endblock content %} <!-- Hay que cerrar el bloque, si hay varios hay que especificar cuál se está cerrando -->





