.administrador {
    padding: 16px;
}

.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px 32px;
}

.title {
    font-size: 2.6rem;
}

.btnDefault { 
    text-align: center;
    text-decoration: none;
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1.6rem;
    min-width: 90px;    
    border: none;
    color: white;
}

.btnDefault:hover{
    color: white;
}

.newBtn {
    background: var(--turquesa-opaco);
    box-shadow: 2px 2px 8px #bfbfbf;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 16px 0;
}

.product-card, .product-details {
    display: flex;
}

.product-card {
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 2px 2px 4px #e1e1e1, -2px -2px 4px #f3f3f3;
    align-items: center;
    gap: 16px 32px;
}

.product-details {
    align-items: center;
    gap: 32px;
}

.product-img--container {
    width: 180px;
    height: 180px;
}

.product-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-name {
    font-size: 2.2rem;
    text-transform: capitalize;
}

.product-price, .product-stock {
    font-size: 1.8rem;
}

.product-price {
    color: green;
    font-weight: bold;
    margin: 8px 0;
}

.editBtn {
   background: #777777;  /* #cbb931 */
    margin-right: 8px;
    box-shadow: 2px 2px 4px #d9d9d9;
}

.deleteBtn {
    background: #cb2121;
    box-shadow: 1px 1px 8px #c3c3c3;
} 
.deleteBtn:hover {
    background: #cb2121;
}

.modal-content {
    padding: 8px;
}

.modal-title {
    font-size: 2rem;
}

.modal-advertise {
    font-size: 1.8rem;
    text-align: center;
}

label {
    color: var(--relieve);
    font-size: 1.5rem;
}

input.form-control {
    font-size: 1.6rem;
    margin: 8px 0;
}

button.btn-lg, a.btn-lg {
    font-size: 1.6rem;
}

.editar-producto {
    padding: 24px;
}

.basic {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-image--container {
    width: 150px;
}

.product-image {
    width: 100%;
}

.product-date {
    margin-top: 1rem;
    text-align: end;
}

@media screen and (max-width: 768px) {
    .product-card {
        justify-content: center;
    }

    .product-details {
        justify-content: center;
        flex-wrap: wrap;
    }
}