
<footer class="footer">
    
    <div class="desc">
        <h4 class="titulo">CLAN-F</h4>
        <p class="content">Somos primeros en utilizar la tecnología doméstica usando IA.</p>
    </div>

    <div class="sec">
        <h4 class="titulo">Secciones</h4>

        <ul id="main-menu" class="footer-menu">
            <li class="main-menu__item">
                <a href="index.html" class="main-menu__link content">Inicio</a>
            </li>
            <li class="main-menu__item">
                <a href="quienes_somos.html" class="main-menu__link content">Quienes somos</a>
            </li>
            <li class="main-menu__item">
                <a href="lista_productos.html" class="main-menu__link content">Productos</a>
            </li>
            <li class="main-menu__item">
                <a href="contacto.html" class="main-menu__link content">Contacto</a>
            </li>
        </ul>
    </div>

    <div class="cont">
        <h4 class="titulo">Contacto</h4>
        <div class="items">
            <i class="bi bi-house"><br>Buenos Aires, Argentina</i>
        </div>
        <div class="items">
            <i class="bi bi-envelope"><br></i>ventas@clanf.com
        </div>
        <div class="items">
            <i class="bi bi-telephone"><br>Ventas<br></i>+11 1234 5678
        </div>
    </div>

    <div class="redes">
        <h4 class="titulo">Redes</h4>

        <div class="meta">
            <div class="iconos a">
                <a href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-facebook content"></i>
                </a>
            </div>

            <div class="iconos a">
                <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-instagram content"></i>
                </a>
            </div>

            <div class="iconos  a">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-tiktok content"></i>
                </a>
            </div>
        </div>
    </div>
</footer>