{% load static %}
<header>
    <nav class="main-nav">
    
        <div id="toggle-menu" class="toggle-menu">
            <label for="toggle-menu-checkbox">
                <button id="abrir" class="abrir-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="32" height="32" viewBox="0 0 24 24" stroke-width="2.5" stroke="#393E46" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 6l16 0" />
                        <path d="M4 12l16 0" />
                        <path d="M4 18l16 0" />
                    </svg>
                </button>
            </label>
        </div>
    
        <input type="checkbox" class="toggle-menu__checkbox" id="toggle-menu-checkbox" />
    
        <div id="main-menu" class="main-menu">
            <div class="logo">
                <a href="{% url 'inicio' %}"><img src="{% static 'images/logo/icono.png' %}" alt="Logo de CLAN-F" class="logo-img"></a>
            </div>
            <div class="main-menu__links-container">
                <ul class="main-menu__links">
                    <li class="main-menu__item">
                        <a href="{% url 'inicio' %}" class="main-menu__link">INICIO</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="{% url 'quienes_somos' %}" class="main-menu__link">QUIÉNES SOMOS</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="{% url 'lista_productos' %}" class="main-menu__link">PRODUCTOS</a>
                    </li>
                    <li class="main-menu__item">
                        <a href="{% url 'contacto' %}" class="main-menu__link">CONTÁCTANOS</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="main-menu__item">
                            <a href="{% url 'productos-admin' %}" class="main-menu__link link-authentication">Tus Productos</a>
                        </li>
                        <li class="main-menu__item">
                            <a href="{% url 'logout' %}" class="main-menu__link link-authentication">Cerrar sesión</a>
                        </li>
                    {% else %}
                        <li class="main-menu__item">
                            <a href="{% url 'login' %}" class="main-menu__link link-authentication">Iniciar Sesión</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>