{% load static %} 
<div class="product-card">
    <div class="product-details">
        <div class="product-img--container">
            <img src="{{ product.image.url }}" alt="{{ Producto }}" class="product-img">
        </div>
        <div class="product-info">
            <h2 class="product-name">{{ product.title }}</h2>
            <p class="product-price">${{ product.price }}</p>
            <p class="product-stock">Stock: {{ product.stock }}</p>
        </div>
    </div>
    <div class="product-buttons">
        <button class="btnDefault editBtn" type="button">Editar</button>
        <a href="{% url 'eliminar_producto' id=product.id %}" class="btnDefault deleteBtn" type="button">Eliminar</a>
    </div>
</div>