{% load static %}
<div class="product-card">
    <div class="product-card__img-container">
        <img src="{{ product.image.url }}" alt="{{ product.title }}" class="product-card__img"> <!-- Imágenes insertar desde ruta assets/img/productos/ -->
    </div>
    <div class="product-card__info-container">
        <h3 class="product-card__title"> {{ product.title }} </h3>
        <div class="product-card__purchase">
            <p class="product-card__price">$ {{ product.price }}</p>
            {% if product.stock %}
                <button class="product-card__cart-button"></button>
            {% else %}
                <p class="product-card__out-of-stock">Agotado</p>
            {% endif %}
        </div>
    </div>
    <a href="#" class="product-card__detail-button">
        <span class="circle">
            <span class="icon arrow"></span>
        </span>
        <span class="button-text">Ver detalle</span>
    </a>
</div>