{% load static %} 
<div class="product-card">
    <div class="product-details">
        <div class="product-img--container">
            <img src="{% static 'images/productos/camara.jpg' %}" alt="Producto" class="product-img">
        </div>
        <div class="product-info">
            <h2 class="product-name">Cámara Inteligente Wi-Fi De Vigilancia 360º</h2>
            <p class="product-price">$147500.00</p>
            <p class="product-stock">Stock: 25</p>
        </div>
    </div>
    <div class="product-buttons">
        <button class="btnDefault editBtn" type="button">Editar</button>
        <button class="btnDefault deleteBtn" type="button">Eliminar</button>
    </div>
</div>