.introduction {
    background-color: var(--gris-oscuro);
    padding: 80px 120px 50px;
}

.introduction__content {
    color: white;
}

.introduction__title {
    display: flex;
    align-items: flex-end;
}

.introduction__title--h1 {
    font-family: var(--title-playfair);
    font-size: 8rem;   
    font-weight: bolder;
    line-height: .9;
}

.introduction__title--dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background-color: var(--turquesa-intenso);
}

.introduction__subtitles-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 86px;
    padding: 12px 0;
    display: flex;
}

.introduction__subtitles {
    overflow: hidden;
    width: 100%;
}

.subtitle {
    font-weight: lighter;
    font-style: italic;
    font-size: 6.4rem;
    text-transform:lowercase;
    display: block;
    height: 100%;
    animation: subtitles 10s infinite;
}

.introduction__paragraph {
    max-width: 650px;
    margin-bottom: 20px;
}

.introduction__paragraph--name {
    font-family: var(--title-playfair);
    color: var(--turquesa-intenso);
    font-size: 1.8rem;
}

@keyframes subtitles {
    10% {
      transform: translateY(-105%);
    }
  
    25% {
      transform: translateY(-100%);
    }
  
    35% {
      transform: translateY(-205%);
    }
  
    50% {
      transform: translateY(-200%);
    }
  
    60% {
      transform: translateY(-305%);
    }
  
    75% {
      transform: translateY(-300%);
    }
  
    85% {
      transform: translateY(-405%);
    }
  
    100% {
      transform: translateY(-400%);
    }
}
