.introduction {
    background-color: var(--gris-oscuro);
    padding: 80px 120px 50px;
}

.introduction__content {
    color: white;
}

.introduction__title {
    display: flex;
    align-items: flex-end;
}

.introduction__title--h1 {
    font-family: var(--title-playfair);
    font-size: 8rem;   
    font-weight: bolder;
    line-height: .9;
}

.introduction__title--dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    background-color: var(--turquesa-intenso);
}

.introduction__subtitles-container {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 86px;
    padding: 12px 0;
    display: flex;
}

.introduction__subtitles {
    overflow: hidden;
    width: 100%;
}

.subtitle {
    font-weight: lighter;
    font-style: italic;
    font-size: 6.4rem;
    text-transform:lowercase;
    display: block;
    height: 100%;
    animation: subtitles 10s infinite;
}

.introduction__paragraph {
    max-width: 650px;
    margin-bottom: 32px;
}

.introduction__paragraph--name {
    font-family: var(--title-playfair);
    color: var(--turquesa-intenso);
    font-size: 1.8rem;
}

@keyframes subtitles {
    10% {
      transform: translateY(-105%);
    }
  
    25% {
      transform: translateY(-100%);
    }
  
    35% {
      transform: translateY(-205%);
    }
  
    50% {
      transform: translateY(-200%);
    }
  
    60% {
      transform: translateY(-305%);
    }
  
    75% {
      transform: translateY(-300%);
    }
  
    85% {
      transform: translateY(-405%);
    }
  
    100% {
      transform: translateY(-400%);
    }
}

.introduction__button-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.introduction-btn {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    border: 1px solid var(--turquesa-intenso);
    border-radius: 8px;
    display: inline-block;
    position: relative;
    background: transparent;
    padding: 16px 24px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}

.introduction-btn:before {
    content: "";
    position: absolute;
    background: var(--turquesa-opaco);
    height: 150px;
    width: 180px;
    border-radius: 50%;
    z-index: -1;
}

.introduction-btn:hover {
    color: #ffffff;
}

.introduction-btn:before {
    top: 100%;
    left: 100%;
    transition: 0.7s;
}

.introduction-btn:hover:before {
    top: -30px;
    left: -30px;
}

.introduction-btn:active:before {
    background: var(--turquesa-intenso);
    transition: 0s;
}

.mouse-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -18px;
}

.mouse {
    width: 29px;
    height: 48px;
    border: 3px solid var(--turquesa-opaco);
    border-radius: 60px;
    background: linear-gradient(180deg, rgba(0, 173, 181, 0.72) 0%, rgba(0, 173, 181, 0.00) 100%);
}

.mouse::before {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    top: 30px;
    background-color: var(--relieve);   
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 1.8s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 15px;
    }
    to {
        opacity: 0;
        top: 32px;
    }
}