.introduction {
    background-color: var(--gris-oscuro);
    padding: 60px 120px 50px;
    position: relative;
    display: grid;
}

.introduction-decoration {
    position: absolute;
    background: url('../assets/img/globo_trazado.png');
    height: 250px;
    width: 300px;
    bottom: 0;
    right: 0;
}

.introduction__content {
    color: white;
    position: relative;
    z-index: 1;
    display: grid;
}

.about__logo_clan-f {
    width: 240px;
    display: grid;
    justify-self: center;
}

.about__logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.somos-nosotros {
    background-color: snow;
    margin: 30px;
}

.nos {
    font-size: xx-large;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    font-size: x-large;
    font-weight: 400;
}

.about__logo-container {
    width: auto;
    height: 88px;
}

.mision, .vision {
    margin: 20px 0 10px;
}

td {
    border: 0 none;
    text-align: center;
    padding: 20px 50px;
}

h1, h3 {
    text-transform: uppercase;
}

#mi-vi {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    column-gap: 50px;
}

#mision,
#vision {
    flex: 1;
    margin: 10px;
    text-align: center;
}

#mi-vi img {
    min-width: 200px;
    max-width: 60%;
    height: auto;
}


.person-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.person-card {
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    max-width: 100%;
    height: auto;
}

.person-name {
    font-size: 18px;
    margin: 10px 0;
}

.highlight {
    font-size: 34px;
    font-weight: bold;
    color: #79647c;
}

.social-icons {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline;
    margin: 5px;
}

.slogan {
    font-size: 16px;
    margin: 10px 0;
}

.hobbies, .soft-skills {
    font-size: 14px;
    margin: 5px 0;
}


@media (max-width: 768px) {
    #mi-vi {
        flex-direction: column;
    }
}