/*  ----------- RESETS -----------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* ESTA REGLA ESTABLECE 1rem = 10 px*/
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/*  ----------- FIN DE RESETS -----------  */

:root {
    /* Colores: (no abusar de los turquesas, son para detalles)*/
    --turquesa-opaco: #00ADB5;
    --turquesa-intenso: #00FFF5;
    --oscuro: #222831;
    --gris-oscuro: #393E46;
    --gris-claro: #BDBDBD;
    --texto: #212121;
    --texto-secundario: #757575;

    /* Fuentes: */
    --font-lato: 'Lato', sans-serif;
    --title-pacifico: 'Pacifico', cursive;
    --title-playfair: 'Playfair Display', serif;
}
