/*  ----------- RESETS -----------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* ESTA REGLA ESTABLECE 1rem = 10 px*/
    scroll-behavior: smooth;
    font-family: 'Lato', sans-serif;
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/*  ----------- FIN DE RESETS -----------  */

:root {
    /* Colores: (no abusar de los turquesas, son para detalles)*/
    --turquesa-opaco: #00ADB5;
    --turquesa-intenso: #00FFF5;
    --oscuro: #222831;
    --gris-oscuro: #292929;
    --relieve: #393E46;
    --gris-claro: #BDBDBD;
    --texto: #212121;
    --texto-secundario: #757575;

    /* Fuentes: */
    --font-lato: 'Lato', sans-serif;
    --title-pacifico: 'Pacifico', cursive;
    --title-playfair: 'Playfair Display', serif;
}

::selection {
    background-color: var(--turquesa-intenso);
    color: var(--texto);
}

/*----------------- NAV ------------------*/

img {
    max-width: 100%;
}

.toggle-menu {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    width: 40px;
    z-index: 1;
    align-items: end;
}

.main-menu-container {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 8px;
}

.logo-img {
    width: 60px;
    height: 60px;
}

.main-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #85D8DC;
    transition: transform 0.3s;
    transform: translateY(-100%);
    font-size: 1.6rem;
    padding:2rem;
    justify-content: space-between;
}

.main-menu__links-container {
    text-align: center;
}

.main-menu--show {
    transform: translateY(0);
}

.toggle-menu__checkbox {
    display: none;
}

.toggle-menu__checkbox:checked+.main-menu {
    transform: translateY(0);
}

@media screen and (min-width: 768px) {
    .main-menu {
        flex-direction: row;
        justify-content: space-between; 
        padding: 2rem;
        transform: translateY(0);
    }

    .main-menu__links-container {
        display: flex;
        gap: 8px;
        flex-direction: row;
        justify-content: space-between; 
    }

    .toggle-menu {
        display: none;
    }
}

.main-menu__item {
    padding: 0.5rem;
}

.main-menu__link {
    color: #222831;
    text-transform: uppercase;
    text-decoration: none;
}

/*---------------- FIN NAV ----------------*/