/*  ----------- RESETS -----------  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* ESTA REGLA ESTABLECE 1rem = 10 px*/
}

p {
    font-size: 1.6rem;
    line-height: 1.5;
}

/*  ----------- FIN DE RESETS -----------  */

:root {
    /* VARIABLES */
}